config/configstore/update-notifier-npm.json
config/fish/fish_variables
config/hub
config/karabiner/automatic_backups
config/nvim/.netrwhist
config/nvim/autoload/plug.vim.old
config/nvim/backups
config/nvim/plugged
config/yarn/global
zsh/plugins.lock
zsh/repositories
aws/credentials
node_modules
