config/configstore/update-notifier-npm.json
config/fish/fish_variables
config/fish/fisher
config/hub
config/karabiner/automatic_backups
config/nvim/.netrwhist
config/nvim/backups
config/nvim/pack
config/yarn/global
zsh/plugins.lock
zsh/repositories
aws/credentials
node_modules
.netrwhist
config/coc/history.json
config/coc/lists
config/coc/mru
config/coc/snippets-mru
config/coc/extensions/coc-rust-analyzer-data/rust-analyzer
config/coc/extensions/db.json
config/coc/commands
config/coc/memos.json
config/coc/extensions/coc-go-data
config/nvim/plugin
sheldon/repos
sheldon/plugins.lock
config/iterm2/AppSupport
config/Autodesk/FusionFabrication.FusionNesting
config/Webull Desktop
config/raycast
config/gh/hosts.yml
config/nvim/lazy-lock.json
config/Epson
