;; !  | means mandatory
;; #  | means optional
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any
;; to understand better how modifiers work in karabiner
;; karabiner definition of mandatory and optional
;; https://pqrs.org/osx/karabiner/json.html#from-event-definition-modifiers
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; need to prefix C T O S F with ! or #

{:profiles
  {:Default {:default true
            :sim 50
            :delay 500
            :alone 500
            :held 500}} 

  :devices {:apl-usb-int [{:vendor_id 1452, :product_id 635 }]  ;; Apple Internal & Magic Keyboard (USB)}
            :drop-ctrl [{:vendor_id 1240, :product_id 613}] ;; Drop CTRL
            }

  :templates {:alf  "open /Applications/Alfred\\ 4.app && osascript -e 'tell application \"Alfred 4\" to run trigger \"%s\" in workflow \"%s\" with argument \"\"'"
              :open "open \"%s\""}

  :layers {}
  :simlayers {:launch-mode {:key :z}
              :comma-mode {:key :comma}}

  :main [
         ;; Hyper
         {:des "Change caps_lock key to Hyper or Esc"
          :rules [
            [:##caps_lock :!CTOleft_shift nil {:alone :escape}]
          ]}

         {:des "Hyper+Vi Arrows"
          :rules [
            [:!!h :left_arrow]
            [:!!j :down_arrow]
            [:!!k :up_arrow]
            [:!!l :right_arrow]
          ]}

         ;; Launch Mode
         {:des "Launch Mode: Open Quickly"
          :rules [:launch-mode
            [:f [:open "/Applications/Fork.app"]]
            [:t [:open "/Applications/Things3.app"]]
          ]}

         ;; Comma Mode
         {:des "Comma Layer - Symbols"
          :rules [:comma-mode
            [:a :open_bracket] ;; [
            [:s :close_bracket] ;; ]
            [:d :!S7] ;; &
            [:f :!S8] ;; *
            [:q :!Shyphen] ;; _
            [:w :!Sequal_sign] ;; +
            [:e :!S5] ;; %
            [:r :!S6] ;; ^
          ]}
        ]

  :applications {:Alfred    ["^com\\.runningwithcrayons\\.Alfred$"]
                 :Terminals ["^com\\.apple\\.Terminal$"
                             "^com\\.googlecode\\.iterm2$"
                             "^co\\.zeit\\.hyperterm$"
                             "^co\\.zeit\\.hyper$"
                             "^io\\.alacritty$"
                             "^net\\.kovidgoyal\\.kitty$"]
                 :VSCode    ["^com\\.microsoft\\.VSCode$"]
                 :Xcode     ["^com\\.apple\\.dt\\.Xcode$"]}

   ; the default value is 250
 :simlayer-threshold 500
}
