"*":
  core:
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "deep-space-syntax"
    ]
  editor:
    fontFamily: "Operator Mono"
    invisibles:
      cr: "_"
      tab: "▸"
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "ec2062ef-1da8-c968-02d8-8039af46975a"
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
