"*":
  "atom-beautify":
    general:
      _analyticsUserId: "b08122a8-4340-4b85-9725-bf9cd618bf68"
  "atom-easy-jsdoc":
    beta: true
  "atom-typescript": {}
  "autocomplete-haskell":
    useBackend: "haskell-ghc-mod"
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    minimumWordLength: 2
    suppressActivationForEditorClasses: [
      "vim-mode-plus.normal-mode"
      "vim-mode-plus.visual-mode"
      "vim-mode-plus.operator-pending-mode"
      "vim-mode-plus.insert-mode.replace"
      "narrow"
    ]
  autoprefixer: {}
  "choose-pane":
    labelChars: "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.perl": [
        "cgi"
      ]
      "source.python": [
        "BUCK"
      ]
      "source.ruby": [
        "Dangerfile"
      ]
    disabledPackages: [
      "nuclide"
      "emmet"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/nano/dev/"
    telemetryConsent: "limited"
    themes: [
      "native-ui"
      "deep-space-syntax"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Operator Mono"
    invisibles:
      cr: "_"
      tab: "▸"
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  elmjutsu:
    autocompleteEnabled: true
    autocompleteSnippetsEnabled: true
    cacheDirectory: "/var/folders/qq/sd2n2_ds16z4qh8mq0nj5mqh0000gn/T/elmjutsu88446eVSXirGkkE37"
  "exception-reporting":
    userId: "ec2062ef-1da8-c968-02d8-8039af46975a"
  "file-icons": {}
  "file-types":
    "*.cgi": "source.perl"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "flow-ide": {}
  "git-plus":
    commits:
      verboseCommits: true
    general:
      analytics: false
    remoteInteractions:
      pullRebase: true
  "haskell-ghc-mod": {}
  "language-elm":
    autocompleteEnabled: false
  linter:
    showErrorPanel: false
  "linter-elm-make":
    lintOnTheFly: true
  "linter-js-standard":
    checkStyleDevDependencies: true
    showEslintRules: true
  "markdown-writer":
    siteEngine: "jekyll"
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "platformio-ide-terminal":
    style: {}
    toggles:
      autoClose: true
  racer:
    racerBinPath: "/Users/nano/.cargo/bin/racer"
    rustSrcPath: "/Users/nano/.rustup/toolchains/stable-x86_64-apple-darwin/lib/rustlib/src/rust/src"
  "seti-ui":
    compactView: true
    displayIgnored: false
    font: "Default Atom Font"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "standard-formatter":
    checkStyleDevDependencies: true
  "symbol-gen": {}
  "terminal-fusion":
    ansiColors:
      normal:
        black: "#414d60"
        blue: "#608cc3"
        cyan: "#56adb7"
        green: "#709d6c"
        magenta: "#8f72bf"
        red: "#b15e7c"
        white: "#7587a6"
        yellow: "#b5a262"
      zBright:
        brightBlack: "#51617d"
        brightBlue: "#7fa4d1"
        brightCyan: "#7abec6"
        brightGreen: "#8eb18b"
        brightMagenta: "#ab95cf"
        brightRed: "#c28098"
        brightWhite: "#9aa7bd"
        brightYellow: "#c5b57d"
    core:
      workingDirectory: "Project"
    style: {}
    toggles:
      autoClose: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    highlightSearch: true
    incrementalSearch: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace: {}
".babel.regexp.source":
  editor:
    preferredLineLength: 120
".basic.html.text":
  editor:
    preferredLineLength: 120
".coffee.source":
  editor:
    preferredLineLength: 120
".css.scss.source":
  editor:
    preferredLineLength: 120
".css.source":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
".elm.source":
  editor:
    preferredLineLength: 120
".erb.html.text":
  editor:
    preferredLineLength: 120
".fish.source":
  editor:
    preferredLineLength: 120
".gfm.source":
  editor:
    preferredLineLength: 120
".graphql.source":
  editor:
    preferredLineLength: 120
".html.liquid.text":
  editor:
    preferredLineLength: 120
".hyperlink.text":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".litcoffee.source":
  editor:
    preferredLineLength: 120
".perl.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
  whitespace:
    removeTrailingWhitespace: false
".perl6.source":
  editor:
    preferredLineLength: 120
".ruby.source":
  editor:
    preferredLineLength: 120
".sass.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
    tabLength: 4
".source.swift":
  editor:
    preferredLineLength: 120
".source.tmux":
  editor:
    preferredLineLength: 120
".source.viml":
  editor:
    preferredLineLength: 120
