"*":
  "autocomplete-plus":
    minimumWordLength: 2
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "nuclide"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    themes: [
      "native-ui"
      "deep-space-syntax"
    ]
  editor:
    fontFamily: "Operator Mono"
    invisibles:
      cr: "_"
      tab: "▸"
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "ec2062ef-1da8-c968-02d8-8039af46975a"
  "file-types":
    "*.cgi": "source.perl"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter: {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  "seti-ui":
    compactView: true
    displayIgnored: false
    font: "Default Atom Font"
  "symbol-gen": {}
  "vim-mode":
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace: {}
".babel.regexp.source":
  editor:
    preferredLineLength: 120
".css.scss.source":
  editor:
    preferredLineLength: 120
".fish.source":
  editor:
    preferredLineLength: 120
".hyperlink.text":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
".perl.source":
  editor:
    preferredLineLength: 120
  whitespace:
    removeTrailingWhitespace: false
".perl6.source":
  editor:
    preferredLineLength: 120
".sass.source":
  editor:
    autoIndentOnPaste: true
    preferredLineLength: 120
    tabLength: 4
".source.viml":
  editor:
    preferredLineLength: 120
