'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g a': 'align-regexp:align-selection'
  'space b': 'atom-beautify:beautify-editor'
  '-': 'choose-pane:start'
  'm m': 'choose-pane:focus-last-focused'

'atom-text-editor.vim-mode-plus.normal-mode':
  'space t': 'symbols-view:toggle-project-symbols'
  ';':       'fuzzy-finder:toggle-buffer-finder'

'atom-text-editor.vim-mode-plus.normal-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'space m': 'quick-highlight:toggle'
  'space M': 'quick-highlight:clear'
  'g m': 'vim-mode-plus-user:quick-highlight'

'atom-text-editor#choose-pane-editor':
  '-': 'choose-pane:last-focused'

'.tree-view':
  '-': 'choose-pane:start'
  'm m': 'choose-pane:focus-last-focused'
