@light-gray: #7587a6;

// style the background color of the tree view
.tree-view {
  background: rgba(255, 255, 255, 0.5);
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor {
  .syntax--modifier {
    font-weight: lighter;
  }

  .syntax--string.syntax--quoted,
  .syntax--string.syntax--regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }

  .syntax--invisible-character {
    color: darken(@light-gray, 15%);
  }
}
