@light-gray: #7587a6;

// style the background color of the tree view
.tree-view {
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  font-family: "OperatorMono-Book";
  font-size: 14px;
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression
atom-text-editor::shadow {
  .builtin,
  .keyword,
  .modifier,
  .property-name,
  .type,
  .support.type.object.module.js {
    font-style: italic;
  }

  .modifier {
    font-weight: lighter;
  }

  .invisible-character {
    color: darken(@light-gray, 15%);
  }

  // Italicize HTML attributes
  .entity.other.attribute-name.html {
     font-style: italic;
   }

  .lines .keyword.operator,
  .storage.type.function.arrow.js,
  .keyword.operator.logical.js,
  .keyword.operator.comparison.js  {
    font-family: "FiraCode-Light";
    text-rendering: optimizeLegibility;
  }

  .support.type.object.module.js,
  .keyword.operator.accessor.js,
  .keyword.operator.js {
    font-family: "OperatorMono-Book"
  }

  .lines .cursor-line .keyword.operator {
    text-rendering: auto;
  }
}

.terminal-fusion .xterm {
  background-color: #1b202a;
  color:            #a6b1c5;
  font-size: 13px;

  ::selection {
    background-color: #323c4d;
  }

  .terminal-cursor {
    background-color: #5C9FFC;
  }
}
